# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
\.coverage

# Sphinx documentation
_build/
_static/
_templates/
docs/source/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.mypy_cache/

# IDE
.idea/
.vscode/

htmlcov/
