[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"
pytest-flake8 = "*"
black = "==21.4b2"
pre-commit = "*"
sphinx = "*"

[packages]
requests = "*"
attrs = "*"
falcon = "<3"
jsonschema = "*"
psycopg2-binary = "*"
marshmallow = "*"
falcon-apispec = "*"
alembic = "*"
python-dateutil = "*"
apispec = {extras = ["validation"],version = "*"}
PyYAML = "*"
SQLAlchemy = "*"
uWSGI = "*"
python-dotenv = "*"
sendgrid = "*"

[requires]
python_version = "3.9"
